*.DS_Store
*~
AlohaPhysics.xcodeproj/xcuserdata/mollerhoj3.xcuserdatad/*
AlohaPhysics.xcodeproj/project.xcworkspace/xcuserdata/chrlykke89.xcuserdatad/UserInterfaceState.xcuserstate
AlohaPhysics.xcodeproj/project.xcworkspace/xcuserdata/mollerhoj3.xcuserdatad/UserInterfaceState.xcuserstate
Utils/*
AlohaPhysics.xcodeproj/xcuserdata/chrlykke89.xcuserdatad/*