<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>192x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,168},{192,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,32}}</string>
                <key>sourceSize</key>
                <string>{192,32}</string>
            </dict>
            <key>288x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,210},{288,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,32}}</string>
                <key>sourceSize</key>
                <string>{288,32}</string>
            </dict>
            <key>Sprite_Goal.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{106,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{106,106}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>Sprite_Hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,300},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Sprite_levelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,472},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,409},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton10.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,388},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton11.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,492},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton12.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,432},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton13.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,386},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton14.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,323},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton15.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,468},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,406},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,320},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,300},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton5.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,302},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton6.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,234},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton7.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,382},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton8.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,296},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Sprite_levelButton9.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,210},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>block128x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,289},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>block128x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,236},{128,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,51}}</string>
                <key>sourceSize</key>
                <string>{128,51}</string>
            </dict>
            <key>block128x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,234},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>block154x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,55},{154,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,51}}</string>
                <key>sourceSize</key>
                <string>{154,51}</string>
            </dict>
            <key>block160x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,202},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>block160x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,168},{160,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,64}}</string>
                <key>sourceSize</key>
                <string>{160,64}</string>
            </dict>
            <key>block192x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,108},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>block192x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{192,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,51}}</string>
                <key>sourceSize</key>
                <string>{192,51}</string>
            </dict>
            <key>block192x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{192,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,64}}</string>
                <key>sourceSize</key>
                <string>{192,64}</string>
            </dict>
            <key>block205x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,340},{205,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,51}}</string>
                <key>sourceSize</key>
                <string>{205,51}</string>
            </dict>
            <key>block224x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{224,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,32}}</string>
                <key>sourceSize</key>
                <string>{224,32}</string>
            </dict>
            <key>block224x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{224,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,64}}</string>
                <key>sourceSize</key>
                <string>{224,64}</string>
            </dict>
            <key>block256x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>block256x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,174},{256,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,51}}</string>
                <key>sourceSize</key>
                <string>{256,51}</string>
            </dict>
            <key>block256x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>block288x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{288,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,64}}</string>
                <key>sourceSize</key>
                <string>{288,64}</string>
            </dict>
            <key>block320x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,68},{320,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,32}}</string>
                <key>sourceSize</key>
                <string>{320,32}</string>
            </dict>
            <key>block320x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{320,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,51}}</string>
                <key>sourceSize</key>
                <string>{320,51}</string>
            </dict>
            <key>block320x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,102},{320,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,64}}</string>
                <key>sourceSize</key>
                <string>{320,64}</string>
            </dict>
            <key>block352x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,68},{352,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,32}}</string>
                <key>sourceSize</key>
                <string>{352,32}</string>
            </dict>
            <key>block352x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{352,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,64}}</string>
                <key>sourceSize</key>
                <string>{352,64}</string>
            </dict>
            <key>block384x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{384,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,64}}</string>
                <key>sourceSize</key>
                <string>{384,64}</string>
            </dict>
            <key>block512x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,51}}</string>
                <key>sourceSize</key>
                <string>{512,51}</string>
            </dict>
            <key>block51x51.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,302},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>block64x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,390},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>block64x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,366},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>block96x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,176},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>block96x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,110},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f50f7d6c7b8ec306e8158e7f66120e70$</string>
            <key>textureFileName</key>
            <string>sprites-hd.png</string>
        </dict>
    </dict>
</plist>
