<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprite_Goal.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{106,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{106,106}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>Sprite_Hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,326},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>block192x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,64}}</string>
                <key>sourceSize</key>
                <string>{192,64}</string>
            </dict>
            <key>block256x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,68},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>block320x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,176},{320,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,64}}</string>
                <key>sourceSize</key>
                <string>{320,64}</string>
            </dict>
            <key>block384x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{384,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,64}}</string>
                <key>sourceSize</key>
                <string>{384,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2cd18bb9bc06fd3bd913b67a7f79ad5$</string>
            <key>textureFileName</key>
            <string>sprites-hd.png</string>
        </dict>
    </dict>
</plist>
